{% extends "base.html" %}

{% block title %}
My Bookings
{% endblock %}

{% block content %}

<h1>My Bookings</h1>

<table border="1">

    <tr>
        <th>Booking ID</th>
        <th>Trek</th>
        <th>Location</th>
        <th>Booking Date</th>
        <th>Booking Status</th>
        <th>Trek Status</th>
        <th>Payment</th>
    </tr>

    {% for booking in bookings %}

    <tr>

        <td>{{ booking['booking_id'] }}</td>
        <td>{{ booking['trek_name'] }}</td>
        <td>{{ booking['location'] }}</td>
        <td>{{ booking['booking_date'] }}</td>
        <td>{{ booking['booking_status'] }}</td>
        <td>{{ booking['status'] }}</td>
        <td>{{ booking['payment_status'] }}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}

